<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="FileAppender" fileName="C:/Users/ranja/eclipse-workspace/SoftDraft_Project/src/test/java/goodreads.log"
                 filePattern="goodreads-%d{MM-dd-yyyy}.log">
      <PatternLayout>
        <Pattern>%d [%-5p] %c{1} - %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="FileAppender" />
    </Root>
  </Loggers>
</Configuration>
